name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.5
          arguments: assembleDebug --no-daemon # No daemon use karne se cache ka masla nahi aata
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HFC-Keyboard-APK
          path: app/build/outputs/apk/debug/*.apk
